.mainEmpresa #imagenEmpresa, .mainSucursales .mapaSucursales {
  border-radius: 10px;
  border: 2px solid black; }

/* reset */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #C2B8B7; }

/* grid index */
.gridIndex {
  display: grid;
  grid-template-areas: "header header" "nav nav" "mainIndex mainIndex" "sectionIndex sectionIndex" "footer footer";
  grid-template-columns: 1fr 1fr;
  height: 100vh; }

/* grid productos */
.gridProductos {
  display: grid;
  grid-template-areas: "header header" "nav nav" "mainProductos mainProductos" "sectionCatalogo sectionCatalogo" "footer footer"; }

/* grid empresa */
.gridEmpresa {
  display: grid;
  grid-template-areas: "header header" "nav nav" "mainEmpresa mainEmpresa" "footer footer";
  height: 100vh;
  grid-template-columns: 1fr 1fr; }

/* grid sucursales */
.gridSucursales {
  display: grid;
  grid-template-areas: "header header" "nav nav" "mainSucursales mainSucursales" "mainSucursales mainSucursales" "footer footer";
  height: 100vh;
  grid-template-columns: 1fr 1fr; }

/* grid contacto */
.gridContacto {
  display: grid;
  grid-template-areas: "header header" "nav nav" "mainContacto mainContacto" "footer footer";
  height: 100vh;
  grid-template-columns: 1fr 1fr; }

/* header */
header {
  grid-area: header;
  justify-self: center; }
  header .logo {
    height: 14em; }

/* menu navegacion */
.estilosNav {
  grid-area: nav;
  margin-top: 2%;
  margin-bottom: 3%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-left: 1%;
  margin-right: 1%; }
  .estilosNav .agrandar:hover {
    transform: scale(1.03);
    transition: 0.5s; }

/* main index */
.mainIndex {
  grid-area: mainIndex;
  display: flex;
  justify-content: center; }
  .mainIndex .textoIndex1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    font-weight: bolder;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
  .mainIndex .textoIndex2 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

/* main productos */
.mainProductos {
  grid-area: mainProductos;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainProductos .textoCatalogo {
    align-self: stretch;
    margin-left: 2%;
    margin-bottom: 3%; }
  .mainProductos .card-productos {
    background-color: #C2B8B7;
    border: black 2px solid;
    margin: 10px;
    width: 60%; }
  .mainProductos .tittle-productos {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; }
  .mainProductos .text-productos {
    font-family: 'Roboto', sans-serif; }

/* main empresa */
.mainEmpresa {
  grid-area: mainEmpresa;
  display: flex;
  flex-flow: column wrap; }
  .mainEmpresa #imagenEmpresa {
    width: 700px;
    align-self: center;
    margin-top: 2%; }
  .mainEmpresa .containerEmpresa {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    width: 100%;
    margin-left: 2%; }
    .mainEmpresa .containerEmpresa .tituloEmpresa {
      font-weight: bolder;
      border-bottom: 1px solid black;
      width: 96%;
      margin-bottom: 7px; }
    .mainEmpresa .containerEmpresa .parrafoEmpresa {
      font-family: 'Roboto', sans-serif;
      color: black;
      padding-right: 20%; }

/* main sucursales */
.mainSucursales {
  grid-area: mainSucursales;
  display: grid;
  grid-template-areas: "tituloSucursales tituloSucursales" "subtituloDistribuidora subtituloDistribuidora" "mapaDistribuidora textoDistribuidora" "subtituloFerreteria subtituloFerreteria" "textoFerreteria mapaFerreteria";
  width: 100%;
  height: 800px;
  gap: 20px;
  grid-template-columns: 1fr 1fr; }
  .mainSucursales #tituloSucursales {
    grid-area: tituloSucursales;
    margin-left: 2%;
    color: black; }
  .mainSucursales .subtituloDistribuidora {
    grid-area: subtituloDistribuidora;
    text-align: center; }
  .mainSucursales #mapaDistribuidora {
    grid-area: mapaDistribuidora;
    justify-self: end; }
  .mainSucursales #textoDistribuidora {
    grid-area: textoDistribuidora;
    color: black;
    text-align: center;
    padding-right: 60%;
    padding-left: 10px;
    align-self: center;
    font-family: 'Roboto', sans-serif; }
  .mainSucursales .subtituloFerreteria {
    grid-area: subtituloFerreteria;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 20px; }
  .mainSucursales #mapaFerreteria {
    grid-area: mapaFerreteria;
    justify-self: start; }
  .mainSucursales #textoFerreteria {
    grid-area: textoFerreteria;
    text-align: center;
    color: black;
    align-self: center;
    padding-left: 60%;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif; }

/* main contacto */
#mainContacto {
  grid-area: mainContacto;
  display: grid;
  grid-template-areas: "tituloContacto tituloContacto" "infoContacto formContacto";
  width: 100%;
  height: auto;
  /* formulario de contacto */
  /* informacion de contacto */ }
  #mainContacto .tituloContacto {
    grid-area: tituloContacto;
    color: black;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 30px; }
  #mainContacto .containerFormulario {
    grid-area: formContacto;
    margin-left: 10%;
    padding: 15px 15px;
    background-color: grey;
    width: 485px;
    height: 380px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-radius: 10px; }
    #mainContacto .containerFormulario #areaEmail {
      border: 1px solid black;
      border-radius: 5px;
      width: 455px;
      height: 34px;
      padding: 0px 3px; }
    #mainContacto .containerFormulario #areaTelefono {
      border: 1px solid black;
      border-radius: 5px;
      width: 455px;
      height: 34px;
      padding: 0px 3px; }
    #mainContacto .containerFormulario #areaMensaje {
      padding: 3px 3px; }
    #mainContacto .containerFormulario #areaBoton {
      width: 86px;
      height: 34px;
      padding: 0px 3px; }
    #mainContacto .containerFormulario span {
      padding: 5px 5px;
      font-family: 'Roboto', sans-serif;
      color: black; }
  #mainContacto .containerContacto {
    grid-area: infoContacto;
    height: auto;
    width: 437px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 30%; }
    #mainContacto .containerContacto .tituloInfo {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 30px;
      color: black;
      font-weight: bolder; }
    #mainContacto .containerContacto .parrafoContacto {
      margin-bottom: 5px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: black; }
    #mainContacto .containerContacto .telefonoContacto {
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: center;
      border-top: 1px solid grey;
      padding-top: 5px;
      font-family: 'Roboto', sans-serif;
      color: black; }
    #mainContacto .containerContacto .ventasContacto {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      border-top: 1px solid grey;
      padding-top: 5px;
      font-family: 'Roboto', sans-serif;
      color: black; }
    #mainContacto .containerContacto .domicilioContacto {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      border-top: 1px solid grey;
      padding-top: 5px;
      font-family: 'Roboto', sans-serif;
      color: black; }

.tituloContacto {
  margin-top: 5px;
  margin-bottom: 10px; }

.parrafoContacto {
  margin-bottom: 5px; }

.telefonoContacto {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 5px; }

.ventasContacto {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 5px; }

.domicilioContacto {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 5px; }

.mainContactoMobile {
  display: none; }

/* Section INDEX */
.sectionIndex {
  grid-area: sectionIndex;
  margin-top: 30px; }
  .sectionIndex h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 30px; }
  .sectionIndex .containerCards {
    display: flex;
    justify-content: space-evenly; }
    .sectionIndex .containerCards div {
      padding: 7px;
      background-color: black; }
      .sectionIndex .containerCards div div p {
        color: whitesmoke;
        font-family: 'Roboto', sans-serif; }

/* section catalogo */
.sectionCatalogo {
  grid-area: sectionCatalogo;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sectionCatalogo h2 {
    font-family: 'Roboto', sans-serif; }
  .sectionCatalogo .marcasContainer {
    width: 70%; }
    .sectionCatalogo .marcasContainer .imgMarcas {
      border-radius: 10px; }

/* footer */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: black; }
  footer .pagina {
    height: 100%;
    width: 100%; }
    footer .pagina div p {
      font-size: 11px;
      text-align: center;
      color: whitesmoke;
      font-family: 'Roboto', sans-serif; }

/* MEDIAQUERIES TABLET-NOTEBOOK */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* header */
  header .logo {
    height: 150px; }
  /* main empresa */
  .mainEmpresa {
    flex-direction: column;
    align-items: center; }
    .mainEmpresa #imagenEmpresa {
      margin-bottom: 15px; }
    .mainEmpresa .containerEmpresa {
      width: 70%; }
  /* main sucursales */
  .mainSucursales {
    height: auto;
    grid-template-areas: "tituloSucursales tituloSucursales" "mapaDistribuidora mapaDistribuidora" "textoDistribuidora textoDistribuidora" "mapaFerreteria mapaFerreteria" "textoFerreteria textoFerreteria"; }
    .mainSucursales .subtituloDistribuidora, .mainSucursales .subtituloFerreteria {
      display: none; }
    .mainSucursales #textoFerreteria {
      padding-left: 0em; }
    .mainSucursales #textoDistribuidora {
      padding-right: 0em; }
    .mainSucursales #mapaFerreteria, .mainSucursales #mapaDistribuidora {
      width: 100%;
      display: flex;
      justify-content: center; }
  /* main contacto */
  #mainContacto {
    width: 100%;
    height: auto;
    grid-template-areas: "tituloContacto tituloContacto" "infoContacto infoContacto" "formContacto formContacto"; }
    #mainContacto .containerContacto {
      margin-left: 0em;
      width: 70%;
      padding-left: 30px;
      padding-right: 30px;
      justify-self: center;
      margin-bottom: 20px; }
    #mainContacto .containerFormulario {
      margin-left: 0em;
      margin-top: 1em;
      width: 70%;
      justify-self: center; }
      #mainContacto .containerFormulario #areaEmail {
        width: 100%; }
      #mainContacto .containerFormulario #areaTelefono {
        width: 100%; }
      #mainContacto .containerFormulario #areaMensaje {
        width: 100%; } }

/* MEDIAQUERIES TABLET */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* header */
  header .logo {
    height: 100px; }
  /* section index */
  .sectionIndex .containerCards {
    flex-direction: column;
    align-items: center; }
    .sectionIndex .containerCards div {
      margin-top: 10px;
      margin-bottom: 10px; }
  /* main empresa */
  .mainEmpresa {
    flex-direction: column;
    align-items: center; }
    .mainEmpresa #imagenEmpresa {
      margin-bottom: 15px;
      width: 90%; }
    .mainEmpresa .containerEmpresa {
      width: 70%; }
  /* main sucursales */
  .mainSucursales {
    height: auto;
    grid-template-areas: "tituloSucursales tituloSucursales" "mapaDistribuidora mapaDistribuidora" "textoDistribuidora textoDistribuidora" "mapaFerreteria mapaFerreteria" "textoFerreteria textoFerreteria"; }
    .mainSucursales .subtituloDistribuidora, .mainSucursales .subtituloFerreteria {
      display: none; }
    .mainSucursales #textoFerreteria {
      padding-left: 0em; }
    .mainSucursales #textoDistribuidora {
      padding-right: 0em; }
    .mainSucursales #mapaFerreteria, .mainSucursales #mapaDistribuidora {
      width: 100%;
      display: flex;
      justify-content: center; }
  /* main contacto */
  #mainContacto {
    width: 100%;
    height: auto;
    grid-template-areas: "tituloContacto tituloContacto" "infoContacto infoContacto" "formContacto formContacto"; }
    #mainContacto .containerContacto {
      margin-left: 0em;
      width: 70%;
      padding-left: 30px;
      padding-right: 30px;
      justify-self: center;
      margin-bottom: 20px; }
    #mainContacto .containerFormulario {
      margin-left: 0em;
      margin-top: 1em;
      width: 70%;
      justify-self: center; }
      #mainContacto .containerFormulario #areaEmail {
        width: 100%; }
      #mainContacto .containerFormulario #areaTelefono {
        width: 100%; }
      #mainContacto .containerFormulario #areaMensaje {
        width: 100%; } }

/* MEDIAQUERIES CELULAR */
@media screen and (min-width: 320px) and (max-width: 600px) {
  /* header */
  header .logo {
    height: 78px; }
  /* main index */
  .indexIndicadores {
    display: none; }
  /* section index */
  .sectionIndex .containerCards {
    flex-direction: column;
    align-items: center; }
    .sectionIndex .containerCards div {
      margin-top: 10px;
      margin-bottom: 10px; }
  /* main empresa */
  .mainEmpresa {
    flex-direction: column;
    align-items: center; }
    .mainEmpresa #imagenEmpresa {
      height: 180px;
      width: 65%;
      margin-bottom: 15px; }
    .mainEmpresa .containerEmpresa {
      width: 70%; }
  /* main sucursales */
  .mainSucursales {
    height: auto;
    grid-template-areas: "tituloSucursales tituloSucursales" "mapaDistribuidora mapaDistribuidora" "textoDistribuidora textoDistribuidora" "mapaFerreteria mapaFerreteria" "textoFerreteria textoFerreteria"; }
    .mainSucursales .subtituloDistribuidora, .mainSucursales .subtituloFerreteria {
      display: none; }
    .mainSucursales #textoFerreteria {
      padding-left: 0em; }
    .mainSucursales #textoDistribuidora {
      padding-right: 0em; }
    .mainSucursales #mapaFerreteria, .mainSucursales #mapaDistribuidora {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px; }
  #mainContacto {
    width: 100%;
    height: auto;
    grid-template-areas: "tituloContacto tituloContacto" "infoContacto infoContacto" "formContacto formContacto"; }
    #mainContacto .containerContacto {
      margin-left: 0em;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px; }
    #mainContacto .containerFormulario {
      margin-left: 0em;
      margin-top: 1em;
      width: 85%;
      justify-self: center; }
      #mainContacto .containerFormulario #areaEmail {
        width: 100%; }
      #mainContacto .containerFormulario #areaTelefono {
        width: 100%; }
      #mainContacto .containerFormulario #areaMensaje {
        width: 100%; }
  footer {
    height: 130px; } }

/* MEDIAQUERIES DETALLES */
@media screen and (min-width: 400px) and (max-width: 538px) {
  /* main index */
  .textoCarousel h1, .textoCarousel h2 {
    display: none; }
  .textoCarousel p {
    font-size: 1.3em; } }

/* MEDIAQUERIES DETALLES */
@media screen and (min-width: 320px) and (max-width: 399px) {
  .textoCarousel h1, .textoCarousel h2 {
    display: none; } }
