/* Section INDEX */
.sectionIndex{
    grid-area: sectionIndex;
    margin-top: 30px;
    h2{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        margin-bottom: 30px;
    }
    .containerCards{
        display: flex;
        justify-content: space-evenly;
        div{
            padding: 7px;
            background-color: $primario;
            div p{
                color: $secundario;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}
/* section catalogo */
.sectionCatalogo{
    grid-area: sectionCatalogo;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: 'Roboto', sans-serif; 
    }
    .marcasContainer{
        width: 70%;
        .imgMarcas{
            border-radius: 10px;
        }
    }
}